<!doctype html>
{# <html lang="{{ str_replace('_', '-', app()->getLocale()) }}"> TODO #}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>{% block title %}{% endblock %}</title>

    <!-- Scripts -->
    <script src="{{ asset('js/app.js') }}" defer></script>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- Styles -->
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="{{ url('/images') }}">
                    {{ config('app.name', 'Laravel') }}
                </a>
                 
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ trans('Toggle navigation') }}">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">

                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <li>
                            <form action="/images/search" method="GET" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="q" name="q" placeholder="Search by title" required>
                                </div>
                            </form>
                        </li>

                        <!-- Authentication Links -->
                        {# {% if auth_guest() %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ route('login') }}">{{ trans('Login') }}</a>
                            </li>
                            {% if route_has('register') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ route('register') }}">{{ trans('Register') }}</a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li class="nav-item dropdown">
                                <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                                    {{ Auth.user.name }}
                                </a>

                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ route('logout') }}"
                                       onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();">
                                        {{ trans('Logout') }}
                                    </a>

                                    <form id="logout-form" action="{{ route('logout') }}" method="POST" class="d-none">
                                        {{ csrf_field() }}
                                    </form>
                                </div>
                            </li>
                        {% endif %} #}
                    </ul>
                </div>
                
            </div>
            
        </nav>

        <main class="py-4">
            {% if session('status') %}
                <div class="container">
                    <div class="alert alert-success" role="alert">
                        {{ session('status') }}
                    </div>
                </div>
            {% endif %}
            {% if errors.any() %}
                <div class="container">
                    {% for error in errors.all() %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>