{% if paginator.hasPages() %}
    <nav>
        <ul class="pagination">
            {# Previous Page Link  #}
            {% if paginator.onFirstPage() %}
                <li class="page-item disabled" aria-disabled="true" aria-label="{{ trans('pagination.previous') }}">
                    <span class="page-link" aria-hidden="true">&lsaquo;</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ paginator.previousPageUrl() }}&q={{ search_query }}" rel="prev" aria-label="{{ trans('pagination.previous') }}">&lsaquo;</a>
                </li>
            {% endif %}

             {# Pagination Elements  #}
            {% for element in elements %}
                {# "Three Dots" Separator  #}
                {% if element is string %}
                    <li class="page-item disabled" aria-disabled="true"><span class="page-link">{{ element }}</span></li>
                {% endif %}

                {# Array Of Links  #}
                {% if element is array %}
                    {% for page, url in element %}
                        {% if page == paginator.currentPage() %}
                            <li class="page-item active" aria-current="page"><span class="page-link">{{ page }}</span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{{ url }}&q={{ search_query }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}

            {# Next Page Link  #}
            {% if paginator.hasMorePages() %}
                <li class="page-item">
                    <a class="page-link" href="{{ paginator.nextPageUrl() }}&q={{ search_query }}" rel="next" aria-label="{{ trans('pagination.next')}}">&rsaquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled" aria-disabled="true" aria-label="{{ trans('pagination.next') }}">
                    <span class="page-link" aria-hidden="true">&rsaquo;</span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
